<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Русский турист</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/about-edition.css" data-inprogress="">

</head>

<body>

    <!-- Секция хедер Об издании -->
    <header class="header">
        <div class="header__inner">
            <div class="header__top">
                <button class="menu-burger menu-burger--black header__burger" type="button">
        <span class="menu-burger__toggle-line"></span>
        <span class="menu-burger__rel">Открыть меню</span>
      </button>
                <nav class="header__navigation navigation">
                    <ul class="navigation__list">
                        <li><a href="about-edition.html">Об издании</a></li>
                        <li><a href="trekking.html">Походы</a></li>
                        <li><a href="developments.html">События</a></li>
                        <li><a href="advice.html">Советы</a></li>
                        <li><a href="articles.html">Статьи</a></li>
                        <li><a href="inspiration.html">Вдохновение</a></li>
                        <li><a href="subscription.html">Подписка</a></li>
                    </ul>
                    <div class="header__content-top-mobile">
                        <ul class="social social--oval social--black header__social-mobile">
                            <li>
                                <a href="#">
                <i class="icon-vk"></i>
                <span class="social__name">Vkontakte</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-facebook-logo"></i>
                <span class="social__name">Facebook</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-youtube"></i>
                <span class="social__name">Youtube</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-instagram"></i>
                <span class="social__name">Instagram</span>
              </a>
                            </li>
                        </ul>
                        <button class="button button--border-transparent button--xs header__social-mobile-cabinet" type="button">
            Личный кабинет
          </button>
                    </div>
                </nav>
                <div class="logo logo--inner">
                    <a href="index.html" class="logo__img-link">
          <img class="logo__img" src="../img/logo.png" alt="Логотип 'Русский турист'">
          <span class="logo__name">Логотип Русский турист</span>
        </a>
                </div>
            </div>
        </div>
        <section class="header__content">
            <h1 class="header__title">Русский турист</h1>
            <div class="header__content-top">
                <ul class="breadcrumbs header__breadcrumbs">
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <span>Об издании</span>
                    </li>
                </ul>
                <button type="button" class="header__button-cabinet button button--border-transparent button--xs js-open-modal" data-modal="registration">Личный кабинет
      </button>
            </div>
        </section>
    </header>

    <!-- Секция  Об издании -->
    <section class="edition">
        <div class="edition__inner">
            <h1 class="title title--element title--element-small">Об издании</h1>
            <div class="edition__top">
                <div class="edition__top-inner">
                    <h2 class="edition__subtitle">«Русский Турист»</h2>
                    <span class="edition__date">с 1899 года</span>
                    <p class="edition__description">Один из старейших журналов России</p>
                    <div class="edition__wrapper-img">
                        <p class="edition__top-img" style="background-image: url('../img/about-edition/edition-img-1.png')"></p>
                        <p class="edition__top-img" style="background-image: url('../img/about-edition/edition-img-2.png')"></p>
                    </div>
                </div>
            </div>
            <div class="edition__content">
                <h3 class="edition__history">История издания</h3>
                <p class="edition__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <p class="edition__img" style="background-image: url('../img/about-edition/edition-book.png')"></p>
                <div class="edition__wrapper-text">
                    <p class="edition__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <p class="edition__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Секция  Архив издания -->
    <section class="archive-edition">
        <div class="archive-edition__inner">
            <h2 class="title title--element">Архив издания</h2>
            <div class="archive-edition__content">
                <div class="archive-edition__wrapper-carousel">
                    <ul class="archive-edition__list">
                        <li>
                            <a class="fancybox-link" href="../img/about-edition/edition-img-2.png" data-fancybox="gallery">
              <img src="../img/about-edition/edition-img-2.png" alt="Архив издания картинка">
            </a>
                        </li>
                        <li>
                            <a class="fancybox-link" href="../img/about-edition/archive-edition-2.png" data-fancybox="gallery">
              <img src="../img/about-edition/archive-edition-2.png" alt="Архив издания картинка">
            </a>
                        </li>
                        <li>
                            <a class="fancybox-link" href="../img/about-edition/archive-edition-1.png" data-fancybox="gallery">
              <img src="../img/about-edition/archive-edition-1.png" alt="Архив издания картинка">
            </a>
                        </li>
                        <li>
                            <a class="fancybox-link" href="../img/about-edition/archive-edition-2.png" data-fancybox="gallery">
              <img src="../img/about-edition/archive-edition-2.png" alt="Архив издания картинка">
            </a>
                        </li>
                        <li>
                            <a class="fancybox-link" href="../img/about-edition/archive-edition-1.png" data-fancybox="gallery">
              <img src="../img/about-edition/archive-edition-1.png" alt="Архив издания картинка">
            </a>
                        </li>
                        <li>
                            <a class="fancybox-link" href="../img/about-edition/archive-edition-2.png" data-fancybox="gallery">
              <img src="../img/about-edition/archive-edition-2.png" alt="Архив издания картинка">
            </a>
                        </li>

                    </ul>
                    <button type="button" class="button button--uppercase button--blue button--box button--xs archive-edition__button">Подробнее
        </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Секция  Издание сегодня -->
    <section class="edition-today">
        <div class="edition-today__inner">
            <h2 class="title title--element">Издание сегодня</h2>
            <div class="carousel-3D">
                <ul class="carousel-3D__list">
                    <li>
                        <img src="../img/about-edition/edition-carousel-1.jpg" alt="Изданvие сегодня фотография">
                        <p class="carousel-3D__description foto-description">Гора Эверест. Гималаи</p>
                    </li>
                    <li>
                        <img src="../img/about-edition/edition-carousel-2.jpg" alt="Издание сегодня фотография">
                        <p class="carousel-3D__description foto-description">Гора Эверест. Гималаи</p>
                    </li>
                    <li>
                        <img src="../img/about-edition/edition-carousel-1.jpg" alt="Издание сегодня фотография">
                        <p class="carousel-3D__description foto-description">Гора Эверест. Гималаи</p>
                    </li>
                    <li>
                        <img src="../img/about-edition/edition-carousel-3.jpg" alt="Издание сегодня фотография">
                        <p class="carousel-3D__description foto-description">Гора Эверест. Гималаи</p>
                    </li>
                </ul>
                <p class="step-count"></p>
            </div>
            <div class="description edition-today__content-first">
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices <a href="#">gravida</a>. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="edition-today__highlighted-content">
                <p class="edition-today__highlighted-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. accumsan lacus vel facilisis. </p>
            </div>
            <div class="description">
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices <a href="#">gravida</a>. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="edition-today__gallery">
                <p style="background-image: url('../img/about-edition/edition-today-gallery-1.jpg')"></p>
                <p style="background-image: url('../img/about-edition/edition-today-gallery-2.jpg')"></p>
                <p style="background-image: url('../img/about-edition/edition-today-gallery-3.jpg')"></p>
                <p style="background-image: url('../img/about-edition/edition-today-gallery-2.jpg')"></p>
                <p style="background-image: url('../img/about-edition/edition-today-gallery-4.jpg')"></p>
            </div>
        </div>
    </section>

    <!-- Секция  Команда -->
    <section class="team">
        <div class="team__inner">
            <h2 class="title title--element title--element-small">Команда</h2>
            <ul class="team__list">
                <li>
                    <img class="team__img" src="../img/about-edition/team-img-1.png" alt="">
                    <p class="team__name">Имя Фамилия</p>
                    <p class="team__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                    <p class="team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices <a href="#">gravida</a>. Risus commodo viverra maecenas accumsan lacus vel
                        facilisis. <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </li>
                <li>
                    <img class="team__img" src="../img/about-edition/team-img-2.png" alt="">
                    <p class="team__name">Имя Фамилия</p>
                    <p class="team__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                    <p class="team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices <a href="#">gravida</a>. Risus commodo viverra maecenas accumsan lacus vel
                        facilisis. <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </li>
                <li>
                    <img class="team__img" src="../img/about-edition/team-img-3.png" alt="">
                    <p class="team__name">Имя Фамилия</p>
                    <p class="team__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                    <p class="team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices <a href="#">gravida</a>. Risus commodo viverra maecenas accumsan lacus vel
                        facilisis. <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </li>
            </ul>
            <ul class="team__partners-carousel">
                <li>
                    <img src="../img/about-edition/team-partner-1.png" alt="Партнер">
                </li>
                <li>
                    <img src="../img/about-edition/team-partner-2.png" alt="Партнер">
                </li>
                <li>
                    <img src="../img/about-edition/team-partner-3.png" alt="Партнер">
                </li>
                <li>
                    <img src="../img/about-edition/team-partner-4.png" alt="Партнер">
                </li>
                <li>
                    <img src="../img/about-edition/team-partner-5.png" alt="Партнер">
                </li>
                <li>
                    <img src="../img/about-edition/team-partner-3.png" alt="Партнер">
                </li>
            </ul>
        </div>
    </section>

    <!-- Секция  Дейсвие -->
    <section class="action">
        <div class="action__inner">
            <h2 class="action__title">Подписка и контакты</h2>
            <p class="action__contact-email">
                Контактный e-mail издания:
                <a href="mailto:russkiyturist@mail.ru">russkiyturist@mail.ru</a>
            </p>
            <p class="action__links">
                <a href="subscription.html" class="button button--blue button--uppercase action__button">Подписка на печатную версию журнала</a>
                <a href="/" class="button button--blue button--uppercase action__button">
        <i class="icon-download action__icon"></i>
        Скачать pdf журнала
      </a>
            </p>
        </div>
    </section>

    <!-- Секция Модальны окна -->
    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup popup--big modal__registration" data-modal="registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Регистрация</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input" placeholder="Имя">
            </label>
                            <label class="label">
              <span class="label__name">Фамилия</span>
              <input type="text" class="input" placeholder="Фамилия">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input" placeholder="E-mail">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">Пароль</span>
              <input type="password" class="input" placeholder="Пароль">
            </label>
                            <label class="label">
              <span class="label__name">Повторите пароль</span>
              <input type="password" class="input" placeholder="Повторите пароль">
            </label>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__registration-button js-open-modal" data-modal="thanks-registration">
            Зарегистрироваться
          </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо за РЕГЕСТРИЦИЮ -->
        <div class="popup popup--small modal__thanks-registration" data-modal="thanks-registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element">Спасибо Вам за регистрацию</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>

        <!-- Модальное окно ВВОЙТИ -->
        <div class="popup popup--big modal__sign-in" data-modal="sign-in">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Вход</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__content--center">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <p>
                                <label class="label">
                <span class="label__name">E-mail</span>
                <input type="email" class="input" placeholder="E-mail">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="registration">Регистрация
              </button>
                            </p>
                            <p>
                                <label class="label">
                <span class="label__name">Пароль</span>
                <input type="password" class="input" placeholder="Пароль">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="password-reminder">Напомнить пароль
              </button>
                            </p>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__sign-in-button">
            Войти
          </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Модальное окно Напомнить пароль -->
        <div class="popup popup--big modal__password-reminder" data-modal="password-reminder">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Напомнить пароль</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__password-reminder-content">
                    <p class="modal__text">На Ваш E-mail будет отправленно сообщение с новый паролем для ввхода в личный кабинет.
                    </p>
                    <form action="#" class="form form__wrapper--column-2 modal__password-reminder-form">
                        <label class="label">
            <span class="label__name">E-mail</span>
            <input type="email" class="input" placeholder="E-mail">
          </label>
                        <button type="submit" class="button button--blue button--xs-s modal__password-reminder-button js-open-modal" data-modal="new-pass">
            Отправить новый пароль
          </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Модальное окно Новый пароль -->
        <div class="popup popup--small modal__new-pass" data-modal="new-pass">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element modal__new-pass-title">Новый пароль отправлен на Ваш E-mail</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>
        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>


    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <nav class="footer__navigation">
                <div class="footer__block">
                    <h3 class="footer__subtitle">Об издании</h3>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Хочу в поход</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#">Пешеходный</a>
                        </li>
                        <li>
                            <a href="#">Лыжный</a>
                        </li>
                        <li>
                            <a href="#">Горный</a>
                        </li>
                        <li>
                            <a href="#">Водный</a>
                        </li>
                        <li>
                            <a href="#">Вело</a>
                        </li>
                        <li>
                            <a href="#">Авто/мото</a>
                        </li>
                        <li>
                            <a href="#">Спелео</a>
                        </li>
                        <li>
                            <a href="#">Парусный</a>
                        </li>
                        <li>
                            <a href="#">Конный</a>
                        </li>
                        <li>
                            <a href="#">Комбинированный</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">События</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="developments.html#all-news">Новости</a>
                        </li>
                        <li>
                            <a href="developments.html#calendar">Календарь</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Советы</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="advice.html#equipment">Снаряжение</a>
                        </li>
                        <li>
                            <a href="advice.html#training">Подготовка</a>
                        </li>
                        <li>
                            <a href="advice.html#literature">Литература</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Статьи</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="articles.html#heroes">Герои</a>
                        </li>
                        <li>
                            <a href="articles.html#other-materials">Другие материалы</a>
                        </li>
                        <li>
                            <a href="trekking.html#want-camping">Хочу в поход</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Вдохновение</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="inspiration.html#movie">Кино</a>
                        </li>
                        <li>
                            <a href="inspiration.html#books">Книги</a>
                        </li>
                        <li>
                            <a href="inspiration.html#painting">Живопись</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Личный кабинет</h3>
                    <h3 class="footer__subtitle">Контакты</h3>
                    <div class="footer__block-content">
                        <p class="footer__address">Адрес: Москва, ул. Пушкина 4А</p>
                        <a href="tel:+71234567891">+7 (123) 456-78-91</a>
                        <p class="footer__wrapper-img">
                            <img src="../img/partner-img-1.png" alt="Иконки-партнеры">
                            <img src="../img/partner-img-2.png" alt="Иконки-партнеры">
                        </p>
                        <a href="/" class="footer__privacy-policy">Политика конфиденциальности</a>
                        <ul class="social social--color footer__social">
                            <li>
                                <a href="#">
                <i class="icon-vk"></i>
                <span class="social__name">Vkontakte</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-facebook-logo"></i>
                <span class="social__name">Facebook</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-odnoklassnik"></i>
                <span class="social__name">Odnoklassnik</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-instagram"></i>
                <span class="social__name">Instagram</span>
              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/about-edition.min.js"></script>

</body>

</html>