<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Походы | Русский турист</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">

</head>

<body>

    <div id="my-today-button">число</div>
    <div id='calendar'></div>


    <!--<script src="../js/jquery.min.js"></script>-->
    <!--<script src="../js/jcf.min.js"></script>-->
    <!--<script src="../js/script.min.js"></script>-->
    <!--<script src="../js/developments.min.js"></script>-->

    <script src="../js/jquery.min.js"></script>
    <!--<script src="../js/jcf.min.js"></script>-->
    <script src="../js/core.min.js"></script>
    <script src="../js/daygrid.min.js"></script>
    <!--<script src="../js/datepicker.min.js"></script>-->
    <!--<script src="../js/script.min.js"></script>-->
    <script src="../js/developments.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                timeZone: 'UTC',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                editable: true,
                eventLimit: true, // when too many events in a day, show the popover
                events: [{
                    title: 'All Day Event',
                    start: '2019-12-08',
                    end: '2019-12-10'
                }]
            });

            calendar.render();

            document.getElementById('my-today-button').addEventListener('click', function() {
                calendar.today();
            });
        });
    </script>
</body>

</html>