<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Русский турист</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/home.css" data-inprogress="">

</head>

<body>
    <header class="header">
        <div class="header__inner">
            <div class="header__top">
                <button class="menu-burger menu-burger--white header__burger" type="button">
        <span class="menu-burger__toggle-line"></span>
        <span class="menu-burger__rel">Открыть меню</span>
      </button>
                <nav class="header__navigation navigation">
                    <ul class="navigation__list">
                        <li><a href="about-edition.html">Об издании</a></li>
                        <li><a href="trekking.html">Походы</a></li>
                        <li><a href="developments.html">События</a></li>
                        <li><a href="advice.html">Советы</a></li>
                        <li><a href="articles.html">Статьи</a></li>
                        <li><a href="inspiration.html">Вдохновение</a></li>
                        <li><a href="subscription.html">Подписка</a></li>
                    </ul>
                    <div class="header__content-top-mobile">
                        <ul class="social social--oval social--black header__social-mobile">
                            <li>
                                <a href="#">
                <i class="icon-vk"></i>
                <span class="social__name">Vkontakte</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-facebook-logo"></i>
                <span class="social__name">Facebook</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-youtube"></i>
                <span class="social__name">Youtube</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-instagram"></i>
                <span class="social__name">Instagram</span>
              </a>
                            </li>
                        </ul>
                        <button class="button button--border-transparent button--xs header__social-mobile-cabinet" type="button">Личный кабинет</button>
                    </div>
                </nav>
                <div class="logo">
                    <a href="index.html" class="logo__img-link">
          <img class="logo__img" src="../img/logo.png" alt="Логотип 'Русский турист'">
          <span class="logo__name">Логотип Русский турист</span>
        </a>
                </div>
            </div>
        </div>
        <section class="header__content">
            <h1 class="header__title">Русский турист</h1>
            <div class="header__content-top">
                <ul class="social social--oval social--white header__social">
                    <li>
                        <a href="#">
            <i class="icon-vk"></i>
            <span class="social__name">Vkontakte</span>
          </a>
                    </li>
                    <li>
                        <a href="#">
            <i class="icon-facebook-logo"></i>
            <span class="social__name">Facebook</span>
          </a>
                    </li>
                    <li>
                        <a href="#">
            <i class="icon-youtube"></i>
            <span class="social__name">Youtube</span>
          </a>
                    </li>
                    <li>
                        <a href="#">
            <i class="icon-instagram"></i>
            <span class="social__name">Instagram</span>
          </a>
                    </li>
                </ul>
                <button type="button" class="header__button-cabinet button button--border-transparent button--xs js-open-modal" data-modal="registration">Личный кабинет</button>
            </div>
            <ul class="header__slider">
                <li style="background-image:url('../img/home/header-item1.jpg')">
                    <div class="header__content-item">
                        <h2>Русский турист</h2>
                        <p>Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.</p>
                        <a href="about-edition.html" class="header__button-more button button--uppercase button--blue button--box">Подробнее</a>
                    </div>
                </li>
                <li style="background-image:url('../img/home/header-item1.jpg')">
                    <div class="header__content-item">
                        <h2>Русский турист</h2>
                        <p>Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.</p>
                        <a href="about-edition.html" class="header__button-more button button--uppercase button--blue button--box">Подробнее</a>
                    </div>
                </li>
                <li style="background-image:url('../img/home/header-item1.jpg')">
                    <div class="header__content-item">
                        <h2>Русский турист</h2>
                        <p>Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.</p>
                        <a href="about-edition.html" class="header__button-more button button--uppercase button--blue button--box">Подробнее</a>
                    </div>
                </li>
            </ul>
            <a href="#about-us" class="header__arrow js-anchor">
      <i class=" icon-right-arrow"></i>
    </a>
        </section>
    </header>

    <!--<section class="block"></section>-->



    <!-- Секция  Журнал «Русский Турист»-->
    <section class="about-us">
        <div class="about-us__inner">
            <div class="about-us__content">
                <h2 class="about-us__title title title--element">Журнал «Русский Турист»</h2>
                <p>Первый печатный номер вышел в <span class="about-us__date-publish">1889</span> году. В <span>2019</span> году мы возродили журнал при поддержке Федерации спортивного туризма России.
                </p>
            </div>
            <div class="about-us__wrapper-img">
                <p style="background-image: url('../img/home/about-us-2.png')"></p>
                <p style="background-image: url('../img/home/about-us-1.png')"></p>
            </div>
            <a href="subscription.html" class="button button--uppercase button--blue button--box button--flex about-us__button">
      Посмотреть и купить
    </a>
        </div>
    </section>


    <!-- Секция  Последние новости -->
    <section class="last-news">
        <div class="last-news__inner">
            <h2 class="title title--element">Последние новости</h2>
            <ul class="last-news__list">
                <li>
                    <time datetime="2019-07-27" class="time-flag last-news__time-flag">Сегодня</time>
                    <article class="last-news__article">
                        <header class="last-news__header">
                            <p class="article-top article-top--space-b last-news__top">
                                <span>Походы</span>
                                <time datetime="2019-07-27T09:24">27/07/2019 09:24</time>
                            </p>
                            <a class="last-news__link" href="article-post.html">
                                <h3>Заголовок новости</h3>
                            </a>
                        </header>
                        <div class="last-news__body">
                            <p>Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько</p>
                        </div>
                        <footer class="last-news__footer">
                            <a class="last-news__arrow" href="article-post.html">
              <i class="icon-right-arrow right-arrow right-arrow--blue last-news__arrow"></i>
            </a>
                        </footer>
                    </article>
                </li>
                <li>
                    <time datetime="2019-07-27" class="time-flag last-news__time-flag">Вчера</time>
                    <article class="last-news__article">
                        <header class="last-news__header">
                            <p class="article-top article-top--space-b last-news__top">
                                <span>Походы</span>
                                <time datetime="2019-07-27T09:24">27/07/2019 09:24</time>
                            </p>
                            <a class="last-news__link" href="article-post.html">
                                <h3>Заголовок новости</h3>
                            </a>
                        </header>
                        <div class="last-news__body">
                            <p>Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько</p>
                        </div>
                        <footer class="last-news__footer">
                            <a class="last-news__arrow" href="article-post.html">
              <i class="icon-right-arrow right-arrow right-arrow--blue last-news__arrow"></i>
            </a>
                        </footer>
                    </article>
                </li>
                <li>
                    <time datetime="2019-07-27" class="time-flag last-news__time-flag">27/07/2019</time>
                    <article class="last-news__article">
                        <header class="last-news__header">
                            <p class="article-top article-top--space-b last-news__top">
                                <span>Походы</span>
                                <time datetime="2019-07-27T09:24">27/07/2019 09:24</time>
                            </p>
                            <a class="last-news__link" href="article-post.html">
                                <h3>Заголовок новости</h3>
                            </a>
                        </header>
                        <div class="last-news__body">
                            <p>Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько</p>
                        </div>
                        <footer class="last-news__footer">
                            <a class="last-news__arrow" href="article-post.html">
              <i class="icon-right-arrow right-arrow right-arrow--blue last-news__arrow"></i>
            </a>
                        </footer>
                    </article>
                </li>
            </ul>
        </div>
    </section>

    <!-- Секция Популярное за месяц -->
    <section class="popular-month">
        <div class="popular-month__inner">
            <h2 class="title title--element">Популярное за месяц</h2>
            <div class="preview-article popular-month__wrapper-article">

                <article class="preview-article__article-top">
                    <a href="article-post.html" class="preview-article__article-top-img" style="background-image: url('../img/home/popular-month-item-1.png')"></a>
                    <header class="preview-article__header-top">
                        <p class="article-top preview-article__article-top-date">
                            <span>Походы</span>
                            <time datetime="2019-07-27T09:24">27/07/2019 09:24</time>
                        </p>
                        <a class="preview-article__link" href="article-post.html">
                            <h3>Заголовок новости</h3>
                        </a>
                    </header>
                    <footer class="preview-article__footer-top">
                        <a class="preview-article__arrow preview-article__arrow--margin-no" href="article-post.html">
            <i class="icon-right-arrow right-arrow right-arrow--blue"></i>
          </a>
                    </footer>
                </article>

                <ul class="preview-article__list">
                    <li>
                        <article class="preview-article__article">
                            <header class="preview-article__header">
                                <a href="article-post.html" class="preview-article__article-wrapp-img">
                                    <p class="preview-article__article-img" style="background-image: url('../img/home/popular-month-item-2.png')">
                                    </p>
                                </a>
                                <p class="article-top article-top--space-b preview-article__top">
                                    <span>Походы</span>
                                    <time datetime="2019-07-27T09:24">27/07/2019 09:24</time>
                                </p>
                                <a class="preview-article__link" href="article-post.html">
                                    <h3>Заголовок новости</h3>
                                </a>
                            </header>
                            <div class="preview-article__body">
                                <p>Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько строк. Здесь будет описание новости в</p>
                            </div>
                            <footer class="preview-article__footer">
                                <a class="preview-article__arrow" href="article-post.html">
                <i class="icon-right-arrow right-arrow right-arrow--blue preview-article__arrow"></i>
              </a>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article class="preview-article__article">
                            <header class="preview-article__header">
                                <a href="article-post.html" class="preview-article__article-wrapp-img">
                                    <p class="preview-article__article-img" style="background-image: url('../img/home/popular-month-item-3.png')"></p>
                                </a>
                                <p class="article-top article-top--space-b preview-article__top">
                                    <span>Походы</span>
                                    <time datetime="2019-07-27T09:24">27/07/2019 09:24</time>
                                </p>
                                <a class="preview-article__link" href="article-post.html">
                                    <h3>Заголовок новости</h3>
                                </a>
                            </header>
                            <div class="preview-article__body">
                                <p>Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько строк. Здесь будет описание новости в несколько строк. Здесь будет описание новости в</p>
                            </div>
                            <footer class="preview-article__footer">
                                <a class="preview-article__arrow" href="article-post.html">
                <i class="icon-right-arrow right-arrow right-arrow--blue preview-article__arrow"></i>
              </a>
                            </footer>
                        </article>
                    </li>
                </ul>
            </div>
            <a href="articles.html" class="button button--uppercase button--blue button--box button--flex popular-month__button">
      Читать еще
    </a>
        </div>
    </section>

    <!-- Секция Популярное за месяц -->
    <section class="routes">
        <div class="routes__inner">
            <h2 class="title title--element">Маршруты</h2>
            <div class="routes__wrapper-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7598858.832548437!2d29.714320960147315!3d48.300272449224956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440dfbd5689933%3A0x67954a817f2651b5!2zSXNhbmktU2FtZ29yaSwg0KLQsdC40LvQuNGB0LgsINCT0YDRg9C30LjRjw!5e0!3m2!1sru!2sua!4v1573846805190!5m2!1sru!2sua"
                    height="705" style="border:0;width:100%;" allowfullscreen=""></iframe>
            </div>
            <div class="routes__wrapper">
                <div class="routes__content" style="background-image: url('../img/home/routes-img1.png')">
                    <div class="routes__backpack-buy">
                        <h3 class="routes__backpack-title title title--element">Походный рюкзак</h3>
                        <a href="articles.html" class="button button--uppercase button--gold button--box button--flex button--xss routes__buy-button">
            Купить в альпиндустрии
          </a>
                    </div>
                </div>
                <div class="routes__subscribe">
                    <h3 class="title title--element routes__subscribe-title">Подписаться на рассылку по E-mail</h3>
                    <form action="#" class="form routes__form">
                        <label class="label routes__label">
            <span class="label__name">Фамилия Имя Очество</span>
            <input type="text" class="input" placeholder="ФИО">
          </label>
                        <label class="label routes__label">
            <span class="label__name">E-mail</span>
            <input type="email" class="input" placeholder="E-mail">
          </label>
                        <span class="text-error">Ошибка...</span>
                        <p class="button-wrapper routes__button-wrapper">
                            <button type="submit" class="button button--uppercase button--blue button--box button--flex button-wrapper__button">
              Подписаться
            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup popup--big modal__registration" data-modal="registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Регистрация</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input" placeholder="Имя">
            </label>
                            <label class="label">
              <span class="label__name">Фамилия</span>
              <input type="text" class="input" placeholder="Фамилия">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input" placeholder="E-mail">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">Пароль</span>
              <input type="password" class="input" placeholder="Пароль">
            </label>
                            <label class="label">
              <span class="label__name">Повторите пароль</span>
              <input type="password" class="input" placeholder="Повторите пароль">
            </label>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__registration-button js-open-modal" data-modal="thanks-registration">
            Зарегистрироваться
          </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо за РЕГЕСТРИЦИЮ -->
        <div class="popup popup--small modal__thanks-registration" data-modal="thanks-registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element">Спасибо Вам за регистрацию</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>

        <!-- Модальное окно ВВОЙТИ -->
        <div class="popup popup--big modal__sign-in" data-modal="sign-in">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Вход</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__content--center">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <p>
                                <label class="label">
                <span class="label__name">E-mail</span>
                <input type="email" class="input" placeholder="E-mail">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="registration">Регистрация
              </button>
                            </p>
                            <p>
                                <label class="label">
                <span class="label__name">Пароль</span>
                <input type="password" class="input" placeholder="Пароль">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="password-reminder">Напомнить пароль
              </button>
                            </p>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__sign-in-button">
            Войти
          </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Модальное окно Напомнить пароль -->
        <div class="popup popup--big modal__password-reminder" data-modal="password-reminder">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Напомнить пароль</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__password-reminder-content">
                    <p class="modal__text">На Ваш E-mail будет отправленно сообщение с новый паролем для ввхода в личный кабинет.</p>
                    <form action="#" class="form form__wrapper--column-2 modal__password-reminder-form">
                        <label class="label">
            <span class="label__name">E-mail</span>
            <input type="email" class="input" placeholder="E-mail">
          </label>
                        <button type="submit" class="button button--blue button--xs-s modal__password-reminder-button js-open-modal" data-modal="new-pass">
            Отправить новый пароль
          </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Модальное окно Новый пароль -->
        <div class="popup popup--small modal__new-pass" data-modal="new-pass">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element modal__new-pass-title">Новый пароль отправлен на Ваш E-mail</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>
        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <nav class="footer__navigation">
                <div class="footer__block">
                    <h3 class="footer__subtitle">Об издании</h3>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Хочу в поход</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#">Пешеходный</a>
                        </li>
                        <li>
                            <a href="#">Лыжный</a>
                        </li>
                        <li>
                            <a href="#">Горный</a>
                        </li>
                        <li>
                            <a href="#">Водный</a>
                        </li>
                        <li>
                            <a href="#">Вело</a>
                        </li>
                        <li>
                            <a href="#">Авто/мото</a>
                        </li>
                        <li>
                            <a href="#">Спелео</a>
                        </li>
                        <li>
                            <a href="#">Парусный</a>
                        </li>
                        <li>
                            <a href="#">Конный</a>
                        </li>
                        <li>
                            <a href="#">Комбинированный</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">События</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="developments.html#all-news">Новости</a>
                        </li>
                        <li>
                            <a href="developments.html#calendar">Календарь</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Советы</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="advice.html#equipment">Снаряжение</a>
                        </li>
                        <li>
                            <a href="advice.html#training">Подготовка</a>
                        </li>
                        <li>
                            <a href="advice.html#literature">Литература</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Статьи</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="articles.html#heroes">Герои</a>
                        </li>
                        <li>
                            <a href="articles.html#other-materials">Другие материалы</a>
                        </li>
                        <li>
                            <a href="trekking.html#want-camping">Хочу в поход</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Вдохновение</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="inspiration.html#movie">Кино</a>
                        </li>
                        <li>
                            <a href="inspiration.html#books">Книги</a>
                        </li>
                        <li>
                            <a href="inspiration.html#painting">Живопись</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h3 class="footer__subtitle">Личный кабинет</h3>
                    <h3 class="footer__subtitle">Контакты</h3>
                    <div class="footer__block-content">
                        <p class="footer__address">Адрес: Москва, ул. Пушкина 4А</p>
                        <a href="tel:+71234567891">+7 (123) 456-78-91</a>
                        <p class="footer__wrapper-img">
                            <img src="../img/partner-img-1.png" alt="Иконки-партнеры">
                            <img src="../img/partner-img-2.png" alt="Иконки-партнеры">
                        </p>
                        <a href="/" class="footer__privacy-policy">Политика конфиденциальности</a>
                        <ul class="social social--color footer__social">
                            <li>
                                <a href="#">
                <i class="icon-vk"></i>
                <span class="social__name">Vkontakte</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-facebook-logo"></i>
                <span class="social__name">Facebook</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-odnoklassnik"></i>
                <span class="social__name">Odnoklassnik</span>
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="icon-instagram"></i>
                <span class="social__name">Instagram</span>
              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <!--<script src="../js/swiper.min.js"></script>-->
    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>

</body>

</html>