<section class="comment">
  <div class="comment__inner">
    <h2 class="title title--element title--element-small title--left comment__title">Комментарии</h2>
    <div class="comment__write">
      <form action="/" class="form comment__form">
      <img class="comment__user-img" src="../img/user.png" alt="Фотография пользователя">
        <p class="comment__sign-in">Чтобы иметь возможность писать комментарий,
          <button type="button" class="js-open-modal" data-modal="sign-in">войдите</button>
        </p>
        <div class="comment__wrapper-label">
          <label class="label">
            <textarea class="input input--textarea comment__textarea" placeholder="Написать комментарий"></textarea>
          </label>
          <div class="comment__wrapper-action">
            <div class="smile">
              <button type="button" class="smile__button"><i class="icon-smile"></i></button>
            </div>
            <input type="file">
            <button type="button" class="button button--blue button--uppercase comment__button">Отправить</button>
          </div>
        </div>
      </form>
    </div>
    <ul class="comment__history">
      <li class="comment__history-item">
        <div class="comment__wrapper-item">
          <img class="comment__history-user-img" src="../img/user.png" alt="Фотография пользователя">
          <div class="comment__wrapper-message">
            <p class="comment__info-author">
              <span>Игорь</span>
              <time datetime="2019-07-25T00:17">25.07 00:17</time>
            </p>
            <div class="comment__message-block">
              <p class="comment__message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              </p>
            </div>
            <p class="comment__feedback">
              <a href="/">Ответить</a>
              <span>1</span>
              <i class="icon-hand button-like"></i>
              <i class="icon-hand button-dislike"></i>
            </p>
          </div>
        </div>
      </li>
      <li class="comment__history-item">
        <div class="comment__wrapper-item">
          <img class="comment__history-user-img" src="../img/user.png" alt="Фотография пользователя">
          <div class="comment__wrapper-message">
            <p class="comment__info-author">
              <span>Игорь</span>
              <time datetime="2019-07-25T00:17">25.07 00:17</time>
            </p>
            <div class="comment__message-block">
              <p class="comment__message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              </p>
            </div>
            <p class="comment__feedback">
              <a href="/">Ответить</a>
              <span>1</span>
              <i class="icon-hand"></i>
              <i class="icon-hand"></i>
            </p>
          </div>
        </div>
      </li>
      <li class="comment__history-item">
        <div class="comment__wrapper-item">
          <img class="comment__history-user-img" src="../img/user.png" alt="Фотография пользователя">
          <div class="comment__wrapper-message">
            <p class="comment__info-author">
              <span>Игорь</span>
              <time datetime="2019-07-25T00:17">25.07 00:17</time>
            </p>
            <div class="comment__message-block">
              <p class="comment__message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              </p>
              <p class="comment__attachment">
                <img src="../img/foto-1.jpeg" alt="Фотография от пользователя">
                <img src="../img/foto-2.jpeg" alt="Фотография от пользователя">
                <img src="../img/foto-3.jpeg" alt="Фотография от пользователя">
              </p>
            </div>
            <p class="comment__feedback">
              <a href="/">Ответить</a>
              <span>1</span>
              <i class="icon-hand"></i>
              <i class="icon-hand"></i>
            </p>
          </div>
        </div>
      </li>
      <li class="comment__history-item comment__history-answer">
        <form action="/" class="form comment__form comment__form--answer">
          <img class="comment__user-img" src="../img/user.png" alt="Фотография пользователя">
          <div class="comment__wrapper-label">
            <label class="label">
              <textarea class="input input--textarea comment__textarea" placeholder="Написать ответ"></textarea>
            </label>
            <div class="comment__wrapper-action">
              <div class="smile">
                <button type="button" class="smile__button"><i class="icon-smile"></i></button>
              </div>
              <input type="file">
              <button type="button" class="button button--blue button--uppercase comment__button">Отправить</button>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>
</section>