<footer class="footer">
  <div class="footer__inner">
    <h2 class="footer__title">Навигация по сайту</h2>
    <nav class="footer__navigation">
      <div class="footer__block">
        <h3 class="footer__subtitle">Об издании</h3>
      </div>
      <div class="footer__block">
        <h3 class="footer__subtitle">Хочу в поход</h3>
        <ul class="footer__list">
          <li>
            <a href="#">Пешеходный</a>
          </li>
          <li>
            <a href="#">Лыжный</a>
          </li>
          <li>
            <a href="#">Горный</a>
          </li>
          <li>
            <a href="#">Водный</a>
          </li>
          <li>
            <a href="#">Вело</a>
          </li>
          <li>
            <a href="#">Авто/мото</a>
          </li>
          <li>
            <a href="#">Спелео</a>
          </li>
          <li>
            <a href="#">Парусный</a>
          </li>
          <li>
            <a href="#">Конный</a>
          </li>
          <li>
            <a href="#">Комбинированный</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__subtitle">События</h3>
        <ul class="footer__list">
          <li>
            <a href="developments.html#all-news">Новости</a>
          </li>
          <li>
            <a href="developments.html#calendar">Календарь</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__subtitle">Советы</h3>
        <ul class="footer__list">
          <li>
            <a href="advice.html#equipment">Снаряжение</a>
          </li>
          <li>
            <a href="advice.html#training">Подготовка</a>
          </li>
          <li>
            <a href="advice.html#literature">Литература</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__subtitle">Статьи</h3>
        <ul class="footer__list">
          <li>
            <a href="articles.html#heroes">Герои</a>
          </li>
          <li>
            <a href="articles.html#other-materials">Другие материалы</a>
          </li>
          <li>
            <a href="trekking.html#want-camping">Хочу в поход</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__subtitle">Вдохновение</h3>
        <ul class="footer__list">
          <li>
            <a href="inspiration.html#movie">Кино</a>
          </li>
          <li>
            <a href="inspiration.html#books">Книги</a>
          </li>
          <li>
            <a href="inspiration.html#painting">Живопись</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__subtitle">Личный кабинет</h3>
        <h3 class="footer__subtitle">Контакты</h3>
        <div class="footer__block-content">
          <p class="footer__address">Адрес: Москва, ул. Пушкина 4А</p>
          <a href="tel:+71234567891">+7 (123) 456-78-91</a>
          <p class="footer__wrapper-img">
            <img src="../img/partner-img-1.png" alt="Иконки-партнеры">
            <img src="../img/partner-img-2.png" alt="Иконки-партнеры">
          </p>
          <a href="/" class="footer__privacy-policy">Политика конфиденциальности</a>
          <ul class="social social--color footer__social">
            <li>
              <a href="#">
                <i class="icon-vk"></i>
                <span class="social__name">Vkontakte</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-facebook-logo"></i>
                <span class="social__name">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-odnoklassnik"></i>
                <span class="social__name">Odnoklassnik</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-instagram"></i>
                <span class="social__name">Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</footer>


<!--<div class="footer__block">-->
<!--  <h3 class="footer__subtitle">Походы</h3>-->
<!--</div>-->


<!--<li>-->
<!--  <a href="#"></a>-->
<!--</li>-->