<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <button class="menu-burger menu-burger--white header__burger" type="button">
        <span class="menu-burger__toggle-line"></span>
        <span class="menu-burger__rel">Открыть меню</span>
      </button>
      <nav class="header__navigation navigation">
        <ul class="navigation__list">
          <li><a href="about-edition.html">Об издании</a></li>
          <li><a href="trekking.html">Походы</a></li>
          <li><a href="developments.html">События</a></li>
          <li><a href="advice.html">Советы</a></li>
          <li><a href="articles.html">Статьи</a></li>
          <li><a href="inspiration.html">Вдохновение</a></li>
          <li><a href="subscription.html">Подписка</a></li>
        </ul>
        <div class="header__content-top-mobile">
          <ul class="social social--oval social--black header__social-mobile">
            <li>
              <a href="#">
                <i class="icon-vk"></i>
                <span class="social__name">Vkontakte</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-facebook-logo"></i>
                <span class="social__name">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-youtube"></i>
                <span class="social__name">Youtube</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-instagram"></i>
                <span class="social__name">Instagram</span>
              </a>
            </li>
          </ul>
          <button class="button button--border-transparent button--xs header__social-mobile-cabinet js-open-modal" type="button" data-modal="registration">Личный кабинет</button>
        </div>
      </nav>
      <div class="logo">
        <a href="index.html" class="logo__img-link">
          <img class="logo__img" src="../img/logo.png" alt="Логотип 'Русский турист'">
          <span class="logo__name">Логотип Русский турист</span>
        </a>
      </div>
    </div>
  </div>
  <section class="header__content">
    <h1 class="header__title">Русский турист</h1>
    <div class="header__content-top">
      <ul class="social social--oval social--white header__social">
        <li>
          <a href="#">
            <i class="icon-vk"></i>
            <span class="social__name">Vkontakte</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-facebook-logo"></i>
            <span class="social__name">Facebook</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-youtube"></i>
            <span class="social__name">Youtube</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-instagram"></i>
            <span class="social__name">Instagram</span>
          </a>
        </li>
      </ul>
      <button type="button" class="header__button-cabinet button button--border-transparent button--xs js-open-modal" data-modal="registration">Личный кабинет</button>
    </div>
    <ul class="header__slider">
      <li style="background-image:url('../img/home/header-item1.jpg')">
        <div class="header__content-item">
          <h2>Русский турист</h2>
          <p>Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.</p>
          <a href="about-edition.html" class="header__button-more button button--uppercase button--blue button--box">Подробнее</a>
        </div>
      </li>
      <li style="background-image:url('../img/home/header-item1.jpg')">
        <div class="header__content-item">
          <h2>Русский турист</h2>
          <p>Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.</p>
          <a href="about-edition.html" class="header__button-more button button--uppercase button--blue button--box">Подробнее</a>
        </div>
      </li>
      <li style="background-image:url('../img/home/header-item1.jpg')">
        <div class="header__content-item">
          <h2>Русский турист</h2>
          <p>Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.Здесь будет текст-описание в несколько строк. Здесь будет текст-описание в несколько строк.</p>
          <a href="about-edition.html" class="header__button-more button button--uppercase button--blue button--box">Подробнее</a>
        </div>
      </li>
    </ul>
  </section>
</header>

